@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    padding: 45px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 32px;
    }

    &__list-link {
        color: #436372;
        @extend %rubik-500;
        font-style: 15px;
    }
}

.user-nav {
    display: flex;
    &__item + .user-nav__item {
        padding-left: 20px;
    }
    &__num {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        top: -7px;
        right: -12px;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 17px;
        text-align: center;
        color: #243f4d;
    }
}

.user-nav__user {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: #edf1f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-nav__favor {
    width: 175px;
    height: 50px;
    margin-right: 20px;
    border-radius: 25px;
    background-color: #fcd7b6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.user-nav__favor::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
}

.favor {
    position: absolute;
    left: 50px;
}

.cart {
    position: absolute;
    right: 50px;
}

.user-nav__menu {
    width: 50px;
    height: 52px;
    border-radius: 50%;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    &__container {
        background-color: #edf1f4;
        padding: 35px 0 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        @extend %rubik-400;
        font-size: 36px;
        line-height: 24px;
        color: #222933;
        margin-bottom: 8px;
    }
}

.footer-top {
    padding: 100px 0 75px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    justify-content: space-between;
    &__contact {
        width: 195px;
        margin-right: 100px;
    }
    &__nav {
        width: 120px;
        margin-right: 180px;
    }

    &__item-form {
        max-width: 275px;
    }

    &__logo {
        margin-bottom: 27px;
        display: block;
    }

    &__address,
    &__email,
    &__phone {
        display: block;
        font-size: 14px;
        line-height: 32px;
        @extend %rubik-400;
        color: #7b7b7b;
    }

    &__title {
        color: #1f2044;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 12px;
        text-transform: uppercase;
    }

    &__link {
        display: block;
        font-size: 14px;
        line-height: 32px;
        @extend %rubik-400;
        color: #7b7b7b;
    }

    &__text {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 24px;
        @extend %rubik-400;
        color: #7b7b7b;
    }

    &__form-input {
        background-color: #fef7f0;
        max-width: 170px;
        width: 100%;
        border: none;
        padding: 10px 70px 10px 17px;
        margin-right: -4px;
        &::placeholder {
            @extend %dmsans-700;
            font-size: 12px;
            color: #234969;
        }
    }

    &__form-btn {
        @extend %btn;
        padding: 14px 18px 14px 15px;
    }
}

.footer-bottom {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__copy {
        @extend %rubik-500;
        font-size: 15px;
        color: #7b7b7b;
    }

    &__inner li {
        display: inline-block;
    }

    &__link {
        @extend %rubik-400;
        font-size: 14px;
        line-height: 32px;
        color: #7b7b7b;
    }
}

.top-slider {
    background-image: url("../images/slider/top-slider-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 300px 0 272px;

    &__container {
        max-width: 1770px;
    }

    &__content {
        padding-left: 175px;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
        min-height: 330px;
    }

    &__img {
        max-width: 640px;
        margin-right: 120px;
        position: relative;
    }

    &__title {
        max-width: 412px;
        font-size: 72px;
        line-height: 70px;
        color: $title;
        @extend %rubik-500;
        margin-bottom: 45px;
    }

    &__text {
        max-width: 360px;
        margin-bottom: 40px;
        @extend %rubik-400;
        font-size: 18px;
        line-height: 30px;
        color: #436372;
    }

    &__link {
        @extend %btn;
        padding: 25px 100px 21px 25px;
        position: relative;
    }

    &__link::after {
        content: "";
        background-image: url("../images/slider/arrow.png");
        position: absolute;
        top: 29px;
        right: 19px;
        width: 22px;
        height: 9px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        // margin-top: -45px;
        position: absolute;
        bottom: -210px;
        right: 825px;
        li {
            padding: 0 5px;
            button {
                padding: 0;
                font-size: 10px;
                @extend %rubik-500;
                color: $title;
                background-color: rgb(255, 255, 255);
                opacity: 0.302;
                width: 30px;
                height: 29px;
                border-radius: 50%;
                border: none;
            }
            &.slick-active {
                button {
                    background-color: #fff;
                    opacity: 1;
                }
            }
        }
    }

    &__info {
        background-color: #fef7f0;

        &-inner {
            display: flex;
            justify-content: space-between;
            padding: 45px 155px 45px 223px;
        }

        &-title {
            @extend %dmsans-700;
            font-size: 18px;
            line-height: 40px;
            color: #414141;
        }

        &-text {
            @extend %dmsans-400;
            font-size: 16px;
            line-height: 30px;
            color: #414141;
            width: 200px;
        }
    }
}

.contact {
    position: relative;
}

.contact::before {
    content: "";
    background-image: url("../images/icons/hours.png");
    width: 52px;
    height: 54px;
    position: absolute;
    top: 11px;
    left: -78px;
}

.delivery {
    position: relative;
}

.delivery::before {
    content: "";
    background-image: url("../images/icons/delivery.png");
    width: 55px;
    height: 37px;
    position: absolute;
    top: 13px;
    left: -77px;
}

.payment {
    position: relative;
}

.payment::before {
    content: "";
    background-image: url("../images/icons/payment.png");
    width: 54px;
    height: 53px;
    position: absolute;
    top: 13px;
    left: -86px;
}

.products {
    padding: 72px 0 100px;
    text-align: center;

    &__title {
        margin-bottom: 38px;
        text-align: center;
    }

    &__nav {
        margin: 0 auto;
        display: flex;
        margin-bottom: 80px;
    }

    &__nav-item + .products__nav-item {
        margin-left: 30px;
    }

    &__nav-link {
        @extend %dmsans-700;
        color: #8b8b8b;
    }

    &__nav-link--active {
        color: #1a1a1a;
    }

    &-item__inner {
        display: grid;
        min-height: 800px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;
    }

    &-item {
        min-width: 270px;
        height: 380px;
        padding: 20px 0 28px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        overflow: hidden;

        .products-item__text,
        .products-item__star,
        .products-item__btn {
            display: none;
        }
    }

    &-item:hover {
        .products-item__link-box {
            transform: translateY(0);
        }
    }

    &-item__img-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 240px;
    }

    &-item__link-box {
        position: absolute;
        bottom: 150px;
        display: flex;
        transition: all 0.5s;
        transform: translateY(700%);
    }

    &-item__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 17px;
        transition: all 0.3s;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    &-item__title {
        @extend %dmsans-500;
        font-size: 16px;
        line-height: 40px;
        color: $title;
    }

    &-item__price {
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 40px;
        color: $accent;
    }
}

ul.products__nav-menu {
    display: flex;
    margin: 0 auto;
}

.products__bottom {
    padding-top: 185px;

    &-inner {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        min-height: 380px;
        margin-right: 30px;
        width: 100%;
        background-color: #feefe2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    &-image {
        position: absolute;
        left: 4%;
        bottom: 83px;
    }

    &-descr {
        text-align: left;
    }

    &-descr--right {
        max-width: 450px;
        margin-right: 28px;
    }

    &-descr--left {
        max-width: 346px;
        margin-right: 93px;
    }

    &-title {
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 32px;
        color: $title;
        margin-bottom: 15px;
    }

    &-text {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: $title;
        margin-bottom: 20px;
    }

    &-link {
        @extend %rubik-500;
        font-size: 15px;
        color: $title;
        display: inline-block;
        padding: 18px 81px 18px 29px;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        position: relative;
    }

    .products__bottom-link::after {
        content: url("../images/icons/arrow-black.svg");
        position: absolute;
        right: 24px;
    }
}

.new-design {
    margin-top: 35px;

    &__item-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 30px;
        margin-bottom: 120px;
    }

    &__item {
        background-color: #f8f8f8;
        position: relative;
    }

    &__descr {
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 260px;
        height: 245px;
        padding: 40px 35px 0;
        position: absolute;
        top: 0;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 20px;
        color: #191919;
    }

    &__subtitle {
        @extend %dmsans-700;
        font-size: 16px;
        color: $accent;
    }

    &__video {
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.blog {
    padding-top: 120px;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__title {
        text-align: left;
    }

    &__item-link {
        @extend %dmsans-700;
        font-size: 16px;
        color: #262626;
        position: relative;
        padding-right: 25px;
        &::after {
            content: "";
            width: 6px;
            height: 11px;
            background-image: url("../images/icons/arrow-blog.svg");
            position: absolute;
            right: 0;
            top: 9px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        position: relative;
        background-color: #fff !important;
    }

    &__item-category {
        position: absolute;
        background-color: $accent;
        @extend %dmsans-700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #fff;
        padding: 7px 30px;
        transform: translateY(-50%);
        left: 27px;
        border-radius: 18px;
    }

    &__item-text {
        display: block;
        margin: 0 auto;
        color: #262626;
        @extend %dmsans-500;
        font-size: 18px;
        line-height: 22px;
        padding: 33px 3px 10px;
        max-width: 315px;
        min-height: 115px;
        border-bottom: 1px solid #e0e0e0;
    }

    &__item-info {
        display: flex;
        padding: 10px 33px 25px;
        font-size: 12px;
        color: #222933;
        @extend %rubik-400;
    }

    &__item-date {
        padding-right: 30px;
    }

    &__item-author {
        font-size: 12px;
        color: #222933;
    }
}

.partners {
    background-color: #fef7f0;
    padding: 260px 0 90px;
    margin: -176px 0 1px;

    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__login {
        padding: 80px 0 90px;
        margin: 0;
    }
}

.modal {
    padding: 115px 0 120px;
    max-width: 470px;
    margin: 0 auto;

    &__label {
        display: block;
        margin-bottom: 25px;
        @extend %rubik-400;
        font-size: 14px;
        color: #436372;
    }

    &__input {
        display: block;
        width: 100%;
        background-color: #fff;
        border: 1px solid #f6f6f6;
        margin-top: 4px;
        height: 55px;
        padding: 0 15px;
    }

    &__btn {
        display: block;
        background-color: $accent;
        padding: 14px 0;
        border: none;
        @extend %rubik-500;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        width: 100%;
        margin-bottom: 35px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f6f6f6;
        margin-bottom: 30px;
    }

    &__error {
        font-size: 14px;
        @extend %rubik-400;
        color: #436372;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__register-text {
        font-size: 14px;
        @extend %rubik-400;
        color: #436372;
        margin-bottom: 20px;
    }

    &__footer-btn {
        display: block;
        background-color: #fff;
        padding: 14px 0;
        border: 1px solid $accent;
        @extend %rubik-500;
        font-size: 18px;
        color: #243f4d;
        cursor: pointer;
        width: 100%;
    }
}

.shop {
    padding: 120px 0 175px;

    &__inner {
        display: flex;
    }

    &__filters {
        width: 270px;
        margin-right: 30px;
    }
}

.filter {
    &__item {
        padding: 15px 20px 15px 15px;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 23px;
    }

    &__title-text {
        text-transform: uppercase;
        color: $title;
        font-size: 18px;
        @extend %dmsans-700;
        margin-right: 15px;
    }

    &__title-item {
        width: 38px;
        height: 2px;
        background-color: $accent;
    }
}

.filter-category {
    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        position: absolute;
    }

    .filter-category__input:checked + .filter-category__checkbox,
    .filter-brand__input:checked + .filter-brand__checkbox {
        background-color: #edf1f4;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 23px 8px 15px;
        border-radius: 3px;
        cursor: pointer;

        span {
            @extend %rubik-400;
            color: $title;
        }
    }

    &__arrow {
        background-image: url("../images/icons/angle-right.svg");
        background-size: cover;
        width: 5px;
        height: 10px;
    }
}

.filter__item {
    margin-bottom: 65px;
    color: #243f4d;
}

.filter-price {
    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        @extend %rubik-400;
        color: #243f4d;
    }
}

.irs--flat .irs-line {
    top: 25px;
    height: 3px;
    background-color: #c2d2db;
    border-radius: 0;
}

.irs--flat .irs-handle {
    top: 19px;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
}

.irs--flat .irs-handle > i:first-child {
    display: none;
}

.irs--flat .irs-bar {
    top: 25px;
    height: 4px;
    background-color: #a3bbc7;
}

.irs-from,
.irs-to,
.irs-single {
    display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    display: none;
}

.filter-brand {
    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        position: absolute;
    }

    .filter-category__input:checked + .filter-category__checkbox,
    .filter-brand__input:checked + .filter-brand__checkbox {
        background-color: #edf1f4;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 23px 8px 15px;
        border-radius: 3px;
        cursor: pointer;

        span {
            @extend %rubik-400;
            color: $title;
        }
    }

    &__arrow {
        background-image: url("../images/icons/angle-right.svg");
        background-size: cover;
        width: 5px;
        height: 10px;
    }
}

.recent-items {
    &__box-item {
        display: flex;
        margin-bottom: 20px;
    }

    &__img-box {
        border: 2px solid #f2f2f2;
        height: 67px;
        width: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 23px;
    }

    &__info {
        color: #333;
    }

    &__title {
        @extend %rubik-400;
        font-size: 14px;
        font-weight: normal;
    }

    &__price {
        @extend %rubik-400;
        font-size: 15px;
    }
}

.product-list {
    &__content {
        max-width: 870px;
    }

    &__content-filter {
        border: 2px solid #edf1f4;
        padding: 15px 0px 15px 30px;
        margin-bottom: 40px;
        @extend %rubik-400;
        color: #8b8b8b;
    }

    &__content-buttons {
        display: flex;
        align-items: center;
    }

    &__filter-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-top: 5px;
        margin-left: 5px;
        outline: none;
    }
}

.product-list__filter-btn.product-list__filter-btn--active path {
    fill: #a3bbc8;
}

.product-list__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product-list__items .products-item {
    margin-bottom: 40px;
}

.products-item--list {
    min-width: 100%;
    height: 500px;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: none;
    text-align: left;

    .products-item__img-box {
        width: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        border: 2px solid #f2f2f2;
        height: 490px;
        margin-right: 60px;
    }

    .products-item__link-box {
        display: none;
    }

    .products-item__img-box img {
        max-height: 100%;
        width: 100%;
    }

    .products-item__title {
        font-size: 40px;
        margin-bottom: 30px;
        color: #333333;
        @extend %rubik-400;
    }

    .products-item__star,
    .products-item__text,
    .products-item__btn {
        display: block;
    }

    .products-item__star,
    .products-item__text,
    .products-item__btn {
        margin-bottom: 40px;
    }

    .products-item__price {
        font-size: 30px;
        margin-bottom: 40px;
        display: block;
        color: #333333;
        @extend %rubik-400;
    }

    .products-item__text {
        max-width: 415px;
        color: $title;
        @extend %rubik-400;
    }

    .products-item__btn-box {
        display: flex;
    }

    .products-item__btn {
        border: none;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
    }

    .products-item__btn--cart {
        background-color: #a3bbc8;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    &__list {
        display: flex;
    }

    &__item {
        border: 1px solid #a3bbc8;
        margin-right: 15px;
    }

    &__link {
        color: #243f4d;
        padding: 10px 19px;
        display: block;
        @extend %rubik-400;
    }

    &__link--active {
        background-color: #a3bbc8;
        color: #fff;
    }
}

@import "media";
